* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #21B66F;
}

.chronometre {
    background-color: #fff;
    border: 2px solid rgb(229, 255, 0);
    padding: 30px;
    border-radius: 40px 0 40px 0;
    width: 400px;
    text-align: center;
}

.tim {
    margin: auto;
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tim span {
    padding: 5px;
}

.controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

button {
    border: none;
}

button :hover {
    border-radius: 10px;
    background-color: #21B66F;
    transform: scale(1.1);
    transition: 0.5s;

}